In [1]:
import pandas as pd
import sqlite3

In [2]:
# Load the liquidity dataset
df = pd.read_csv("2052A_liquidity_synthetic_data.csv")

# Show the first few rows
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '2052A_liquidity_synthetic_data.csv'

In [3]:
import os
os.getcwd()

'C:\\Users\\nisia'

In [1]:
import pandas as pd
import sqlite3

In [2]:
# Load the liquidity dataset
df = pd.read_csv("2052A_liquidity_synthetic_data.csv")

# Show the first few rows
df.head()

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType
0,2025-02-02,CP_005,Securities Borrow,2025-05-22,-84770.25,USD,31-90D,NaN,TREASURY_SYS4,Inflow
1,2025-01-31,CP_018,Reverse Repo,2025-05-01,54350.82,GBP,>365D,NaN,TREASURY_SYS4,Outflow
2,2025-01-31,CP_005,Reverse Repo,2027-03-14,94219.46,EUR,91-365D,Cash,LOAN_SYS3,Outflow
3,2025-01-31,CP_013,Repo,2027-02-12,173880.04,GBP,0-7D,NaN,LOAN_SYS3,Inflow
4,2025-02-02,CP_003,Securities Lend,2025-04-09,-50822.41,USD,8-30D,Cash,LOAN_SYS3,Inflow

In [3]:
# Create a connection to a SQLite database file
conn = sqlite3.connect("liquidity_2052a.db")

# Write the DataFrame to a SQL table called 'liquidity_data'
df.to_sql("liquidity_data", conn, if_exists="replace", index=False)

print("SQL Table 'liquidity_data' created successfully.")

SQL Table 'liquidity_data' created successfully.

In [4]:
query = """
SELECT *
FROM liquidity_data
LIMIT 5;
"""

pd.read_sql_query(query, conn)

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType
0,2025-02-02,CP_005,Securities Borrow,2025-05-22,-84770.25,USD,31-90D,None,TREASURY_SYS4,Inflow
1,2025-01-31,CP_018,Reverse Repo,2025-05-01,54350.82,GBP,>365D,None,TREASURY_SYS4,Outflow
2,2025-01-31,CP_005,Reverse Repo,2027-03-14,94219.46,EUR,91-365D,Cash,LOAN_SYS3,Outflow
3,2025-01-31,CP_013,Repo,2027-02-12,173880.04,GBP,0-7D,None,LOAN_SYS3,Inflow
4,2025-02-02,CP_003,Securities Lend,2025-04-09,-50822.41,USD,8-30D,Cash,LOAN_SYS3,Inflow

In [5]:
query_missing_bucket = """
SELECT COUNT(*) AS missing_liquidity_bucket
FROM liquidity_data
WHERE LiquidityBucket IS NULL;
"""

pd.read_sql_query(query_missing_bucket, conn)

   missing_liquidity_bucket
0                        19

In [2]:
import pandas as pd
import sqlite3

In [4]:
query_negative_amount = """
SELECT COUNT(*) AS negative_amount_rows
FROM liquidity_data
WHERE Amount < 0;
"""

pd.read_sql_query(query_negative_amount, conn)

NameError: name 'conn' is not defined

In [5]:
query_negative_amount = """
SELECT COUNT(*) AS negative_amount_rows
FROM liquidity_data
WHERE Amount < 0;
"""

pd.read_sql_query(query_negative_amount, conn)

NameError: name 'conn' is not defined

In [6]:
import pandas as pd
import sqlite3

In [7]:
query_negative_amount = """
SELECT COUNT(*) AS negative_amount_rows
FROM liquidity_data
WHERE Amount < 0;
"""

pd.read_sql_query(query_negative_amount, conn)

NameError: name 'conn' is not defined

In [8]:
# Load the liquidity dataset
df = pd.read_csv("2052A_liquidity_synthetic_data.csv")

# Create a SQLite connection
conn = sqlite3.connect("liquidity_2052a.db")

# Write the DataFrame to a SQL table again
df.to_sql("liquidity_data", conn, if_exists="replace", index=False)

500

In [9]:
query_negative_amount = """
SELECT COUNT(*) AS negative_amount_rows
FROM liquidity_data
WHERE Amount < 0;
"""

pd.read_sql_query(query_negative_amount, conn)

   negative_amount_rows
0                    32

In [10]:
# Load the liquidity dataset
df = pd.read_csv("2052A_liquidity_synthetic_data.csv")

# Create a SQLite connection
conn = sqlite3.connect("liquidity_2052a.db")

# Write the DataFrame to a SQL table again
df.to_sql("liquidity_data", conn, if_exists="replace", index=False)

500

In [11]:
query_negative_amount = """
SELECT COUNT(*) AS negative_amount_rows
FROM liquidity_data
WHERE Amount < 0;
"""

pd.read_sql_query(query_negative_amount, conn)

   negative_amount_rows
0                    32

In [12]:
query_negative_amount_sample = """
SELECT *
FROM liquidity_data
WHERE Amount < 0
LIMIT 5;
"""

pd.read_sql_query(query_negative_amount_sample, conn)

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType
0,2025-02-02,CP_005,Securities Borrow,2025-05-22,-84770.25,USD,31-90D,None,TREASURY_SYS4,Inflow
1,2025-02-02,CP_003,Securities Lend,2025-04-09,-50822.41,USD,8-30D,Cash,LOAN_SYS3,Inflow
2,2025-01-31,CP_015,Deposit,2026-02-18,-22278.72,EUR,91-365D,None,TREASURY_SYS4,Inflow
3,2025-01-31,CP_014,Securities Lend,2026-03-24,-48816.05,GBP,31-90D,Corp,ALM_SYS1,Outflow
4,2025-02-02,CP_012,Repo,2027-04-09,-17428.67,GBP,>365D,Govt,TREASURY_SYS4,Inflow

In [13]:
query_negative_amount_pct = """
SELECT 
    COUNT(*) AS negative_amount_rows,
    ROUND(100.0 * COUNT(*) / (SELECT COUNT(*) FROM liquidity_data), 2) AS pct_of_total
FROM liquidity_data
WHERE Amount < 0;
"""

pd.read_sql_query(query_negative_amount_pct, conn)

   negative_amount_rows  pct_of_total
0                    32           6.4

In [14]:
query_missing_sourcesystem = """
SELECT COUNT(*) AS missing_sourcesystem_rows
FROM liquidity_data
WHERE SourceSystem IS NULL;
"""

pd.read_sql_query(query_missing_sourcesystem, conn)

   missing_sourcesystem_rows
0                         17

In [15]:
query_missing_sourcesystem_sample = """
SELECT *
FROM liquidity_data
WHERE SourceSystem IS NULL
LIMIT 5;
"""

pd.read_sql_query(query_missing_sourcesystem_sample, conn)

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType
0,2025-02-01,CP_006,Repo,2025-06-24,36627.80,GBP,>365D,Corp,None,Inflow
1,2025-01-31,CP_005,Securities Lend,2025-03-06,90291.62,GBP,91-365D,None,None,Inflow
2,2025-02-02,CP_017,Loan,2027-02-05,73709.67,EUR,8-30D,Cash,None,Outflow
3,2025-02-01,CP_009,Deposit,2025-10-08,-50424.29,EUR,91-365D,None,None,Outflow
4,2025-02-02,CP_016,Repo,2026-11-12,43802.21,USD,>365D,Cash,None,Outflow

In [16]:
query_missing_sourcesystem_pct = """
SELECT 
    COUNT(*) AS missing_sourcesystem_rows,
    ROUND(100.0 * COUNT(*) / (SELECT COUNT(*) FROM liquidity_data), 2) AS pct_of_total
FROM liquidity_data
WHERE SourceSystem IS NULL;
"""

pd.read_sql_query(query_missing_sourcesystem_pct, conn)

   missing_sourcesystem_rows  pct_of_total
0                         17           3.4

In [17]:
query_bad_maturity = """
SELECT COUNT(*) AS invalid_maturity_rows
FROM liquidity_data
WHERE MaturityDate < AsOfDate;
"""

pd.read_sql_query(query_bad_maturity, conn)

   invalid_maturity_rows
0                      0

In [18]:
query_bad_maturity_sample = """
SELECT *
FROM liquidity_data
WHERE MaturityDate < AsOfDate
LIMIT 5;
"""

pd.read_sql_query(query_bad_maturity_sample, conn)

Empty DataFrame
Columns: [AsOfDate, Counterparty, ProductType, MaturityDate, Amount, Currency, LiquidityBucket, CollateralType, SourceSystem, CashFlowType]
Index: []

In [19]:
query_bad_maturity_pct = """
SELECT 
    COUNT(*) AS invalid_maturity_rows,
    ROUND(100.0 * COUNT(*) / (SELECT COUNT(*) FROM liquidity_data), 2) AS pct_of_total
FROM liquidity_data
WHERE MaturityDate < AsOfDate;
"""

pd.read_sql_query(query_bad_maturity_pct, conn)

   invalid_maturity_rows  pct_of_total
0                      0           0.0

In [20]:
query_bucket_mismatch = """
SELECT
    *,
    julianday(MaturityDate) - julianday(AsOfDate) AS DaysToMaturity
FROM liquidity_data
"""

In [21]:
query_bucket_mismatch = """
SELECT 
    *,
    CAST(julianday(MaturityDate) - julianday(AsOfDate) AS INTEGER) AS DaysToMaturity
FROM liquidity_data
WHERE 
    (
        LiquidityBucket = '0-7D' AND (julianday(MaturityDate) - julianday(AsOfDate)) > 7
    )
    OR
    (
        LiquidityBucket = '8-30D' AND (julianday(MaturityDate) - julianday(AsOfDate)) NOT BETWEEN 8 AND 30
    )
    OR
    (
        LiquidityBucket = '31-90D' AND (julianday(MaturityDate) - julianday(AsOfDate)) NOT BETWEEN 31 AND 90
    )
    OR
    (
        LiquidityBucket = '91-365D' AND (julianday(MaturityDate) - julianday(AsOfDate)) NOT BETWEEN 91 AND 365
    )
    OR
    (
        LiquidityBucket = '>365D' AND (julianday(MaturityDate) - julianday(AsOfDate)) <= 365
    );
"""

pd.read_sql_query(query_bucket_mismatch, conn)

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType,DaysToMaturity
0,2025-02-02,CP_005,Securities Borrow,2025-05-22,-84770.25,USD,31-90D,None,TREASURY_SYS4,Inflow,109
1,2025-01-31,CP_018,Reverse Repo,2025-05-01,54350.82,GBP,>365D,None,TREASURY_SYS4,Outflow,90
2,2025-01-31,CP_005,Reverse Repo,2027-03-14,94219.46,EUR,91-365D,Cash,LOAN_SYS3,Outflow,772
3,2025-01-31,CP_013,Repo,2027-02-12,173880.04,GBP,0-7D,None,LOAN_SYS3,Inflow,742
4,2025-02-02,CP_003,Securities Lend,2025-04-09,-50822.41,USD,8-30D,Cash,LOAN_SYS3,Inflow,66
...,...,...,...,...,...,...,...,...,...,...,...
361,2025-01-31,CP_004,Securities Borrow,2026-09-26,63206.21,USD,8-30D,None,TRADING_SYS2,Inflow,603
362,2025-01-31,CP_011,Repo,2027-04-05,173891.51,EUR,0-7D,MBS,ALM_SYS1,Outflow,794
363,2025-01-31,CP_018,Securities Lend,2026-10-12,87311.46,EUR,91-365D,Govt,LOAN_SYS3,Inflow,619
364,2025-01-31,CP_017,Securities Borrow,2027-01-12,52405.30,EUR,91-365D,Cash,ALM_SYS1,Inflow,711
365,2025-01-31,CP_018,Deposit,2026-02-23,32437.40,EUR,91-365D,Cash,ALM_SYS1,Outflow,388

In [22]:
query_bucket_mismatch_count = """
SELECT 
    COUNT(*) AS bucket_mismatch_rows
FROM liquidity_data
WHERE 
    (
        LiquidityBucket = '0-7D' AND (julianday(MaturityDate) - julianday(AsOfDate)) > 7
    )
    OR
    (
        LiquidityBucket = '8-30D' AND (julianday(MaturityDate) - julianday(AsOfDate)) NOT BETWEEN 8 AND 30
    )
    OR
    (
        LiquidityBucket = '31-90D' AND (julianday(MaturityDate) - julianday(AsOfDate)) NOT BETWEEN 31 AND 90
    )
    OR
    (
        LiquidityBucket = '91-365D' AND (julianday(MaturityDate) - julianday(AsOfDate)) NOT BETWEEN 91 AND 365
    )
    OR
    (
        LiquidityBucket = '>365D' AND (julianday(MaturityDate) - julianday(AsOfDate)) <= 365
    );
"""

pd.read_sql_query(query_bucket_mismatch_count, conn)

   bucket_mismatch_rows
0                   366

In [23]:
query_null_days = """
SELECT *
FROM liquidity_data
WHERE (julianday(MaturityDate) - julianday(AsOfDate)) IS NULL;
"""

pd.read_sql_query(query_null_days, conn)

Empty DataFrame
Columns: [AsOfDate, Counterparty, ProductType, MaturityDate, Amount, Currency, LiquidityBucket, CollateralType, SourceSystem, CashFlowType]
Index: []

In [24]:
import pandas as pd

# Pull full table from SQLite into a DataFrame
df = pd.read_sql_query("SELECT * FROM liquidity_data;", conn)

df.head()

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType
0,2025-02-02,CP_005,Securities Borrow,2025-05-22,-84770.25,USD,31-90D,None,TREASURY_SYS4,Inflow
1,2025-01-31,CP_018,Reverse Repo,2025-05-01,54350.82,GBP,>365D,None,TREASURY_SYS4,Outflow
2,2025-01-31,CP_005,Reverse Repo,2027-03-14,94219.46,EUR,91-365D,Cash,LOAN_SYS3,Outflow
3,2025-01-31,CP_013,Repo,2027-02-12,173880.04,GBP,0-7D,None,LOAN_SYS3,Inflow
4,2025-02-02,CP_003,Securities Lend,2025-04-09,-50822.41,USD,8-30D,Cash,LOAN_SYS3,Inflow

In [25]:
df["AsOfDate"] = pd.to_datetime(df["AsOfDate"])
df["MaturityDate"] = pd.to_datetime(df["MaturityDate"])

df[["AsOfDate", "MaturityDate"]].head()

    AsOfDate MaturityDate
0 2025-02-02   2025-05-22
1 2025-01-31   2025-05-01
2 2025-01-31   2027-03-14
3 2025-01-31   2027-02-12
4 2025-02-02   2025-04-09

In [26]:
# Calculate days between AsOfDate and MaturityDate
df["DaysToMaturity"] = (df["MaturityDate"] - df["AsOfDate"]).dt.days

# Function to assign the expected bucket based on DaysToMaturity
def assign_bucket(days):
    if days <= 7:
        return "0-7D"
    elif days <= 30:
        return "8-30D"
    elif days <= 90:
        return "31-90D"
    elif days <= 365:
        return "91-365D"
    else:
        return ">365D"

df["ExpectedBucket"] = df["DaysToMaturity"].apply(assign_bucket)

df[["AsOfDate", "MaturityDate", "DaysToMaturity", "LiquidityBucket", "ExpectedBucket"]].head()

    AsOfDate MaturityDate  DaysToMaturity LiquidityBucket ExpectedBucket
0 2025-02-02   2025-05-22             109          31-90D        91-365D
1 2025-01-31   2025-05-01              90           >365D         31-90D
2 2025-01-31   2027-03-14             772         91-365D          >365D
3 2025-01-31   2027-02-12             742            0-7D          >365D
4 2025-02-02   2025-04-09              66           8-30D         31-90D

In [27]:
# 1) Negative Amount
df["DQ_NegativeAmount"] = df["Amount"] < 0

# 2) Missing LiquidityBucket
df["DQ_MissingBucket"] = df["LiquidityBucket"].isna()

# 3) Missing SourceSystem
df["DQ_MissingSourceSystem"] = df["SourceSystem"].isna()

# 4) Bucket mismatch (what we just computed)
df["DQ_BucketMismatch"] = df["LiquidityBucket"] != df["ExpectedBucket"]

# 5) Any DQ issue at all
df["DQ_HasIssue"] = (
    df["DQ_NegativeAmount"] |
    df["DQ_MissingBucket"] |
    df["DQ_MissingSourceSystem"] |
    df["DQ_BucketMismatch"]
)

df.head()

,AsOfDate,Counterparty,ProductType,MaturityDate,Amount,Currency,LiquidityBucket,CollateralType,SourceSystem,CashFlowType,DaysToMaturity,ExpectedBucket,DQ_NegativeAmount,DQ_MissingBucket,DQ_MissingSourceSystem,DQ_BucketMismatch,DQ_HasIssue
0,2025-02-02,CP_005,Securities Borrow,2025-05-22,-84770.25,USD,31-90D,None,TREASURY_SYS4,Inflow,109,91-365D,True,False,False,True,True
1,2025-01-31,CP_018,Reverse Repo,2025-05-01,54350.82,GBP,>365D,None,TREASURY_SYS4,Outflow,90,31-90D,False,False,False,True,True
2,2025-01-31,CP_005,Reverse Repo,2027-03-14,94219.46,EUR,91-365D,Cash,LOAN_SYS3,Outflow,772,>365D,False,False,False,True,True
3,2025-01-31,CP_013,Repo,2027-02-12,173880.04,GBP,0-7D,None,LOAN_SYS3,Inflow,742,>365D,False,False,False,True,True
4,2025-02-02,CP_003,Securities Lend,2025-04-09,-50822.41,USD,8-30D,Cash,LOAN_SYS3,Inflow,66,31-90D,True,False,False,True,True

In [28]:
# How many rows have each type of issue?
dq_summary = df[[
    "DQ_NegativeAmount",
    "DQ_MissingBucket",
    "DQ_MissingSourceSystem",
    "DQ_BucketMismatch",
    "DQ_HasIssue"
]].sum()

dq_summary

DQ_NegativeAmount          32
DQ_MissingBucket           19
DQ_MissingSourceSystem     17
DQ_BucketMismatch         385
DQ_HasIssue               399
dtype: int64

In [29]:
# Keep only rows with no DQ issues
df_clean = df[~df["DQ_HasIssue"]].copy()

# Export both full + clean datasets
df.to_csv("liquidity_with_dq_flags.csv", index=False)
df_clean.to_csv("liquidity_clean.csv", index=False)

In [30]:
total_rows = len(df)
dq_counts = dq_summary  # from your previous result
dq_pct = (dq_counts / total_rows * 100).round(2)

total_rows, dq_counts, dq_pct

(500,
 DQ_NegativeAmount          32
 DQ_MissingBucket           19
 DQ_MissingSourceSystem     17
 DQ_BucketMismatch         385
 DQ_HasIssue               399
 dtype: int64,
 DQ_NegativeAmount          6.4
 DQ_MissingBucket           3.8
 DQ_MissingSourceSystem     3.4
 DQ_BucketMismatch         77.0
 DQ_HasIssue               79.8
 dtype: float64)

In [31]:
# Keep only rows with no DQ issues
df_clean = df[~df["DQ_HasIssue"]].copy()

# Export for Power BI / GitHub
df.to_csv("liquidity_with_dq_flags.csv", index=False)
df_clean.to_csv("liquidity_clean.csv", index=False)

In [32]:
import os

[filename for filename in os.listdir() if filename.endswith(".csv")]

['2052A_liquidity_synthetic_data.csv',
 'liquidity_clean.csv',
 'liquidity_with_dq_flags.csv']

In [33]:
import os
os.getcwd()

'C:\\Users\\nisia'